.hero{
    width: 66px;
    height: 86px;
    background: green;

    position: absolute;
    box-sizing: border-box;
    background-image: url(./vadim.jpg);
    background-size: cover;
    z-index: 100;
   
}




.food{
    width: 46px;
    height: 46px;

    position: absolute;
    box-sizing: border-box;
    top:0;
    left:0;
    z-index: 50;
    background-image: url(./banana.svg);
    background-size: cover;
}
.game-title{
    text-align: center;
}
.map{
    width: 700px;
    height: 700px;
    background: lightcyan;
    position: relative;
    margin: 0 auto;
    border: 1px solid black;
    box-sizing: border-box;
    z-index: 10;
}